In [1]:
import pandas as pd
import json

In [2]:
quakes = pd.read_csv('full_quake v3.csv')
quakes.head()

              time  mag  year          id  latitude  longitude
0   4/25/2010 2:10  3.9  2010  usp000hbvf   27.7080    -97.845
1  3/24/1997 22:31  3.8  1997  usp0007zcf   27.7170    -98.054
2   4/3/2005 14:39  3.5  2005  usp000dm3z   28.3930   -100.305
3   4/9/1993 12:29  4.1  1993  usp0005qx9   28.8110    -98.124
4   1/6/2018 15:37  3.6  2018  us1000c1fk   28.8497    -98.119

In [3]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [4]:
cols = ['time', 'mag', 'year', 'id']
geojson_dict = df_to_geojson(quakes, cols)

In [6]:
geojson_str = json.dumps(geojson_dict, indent=2)

output_filename = 'quakedataset.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(geojson_str))